.sidebar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #363740;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #444851;
  }
  
  .sidebar-header img {
    height: 30px;
    margin-right: 10px;
  }
  
  .sidebar-header h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .sidebar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .sidebar-nav a:hover {
    background-color: #444851;
  }
  
  .sidebar-nav a span {
    margin-left: 10px;
  }
  
  .sidebar-footer {
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid #444851;
  }
  
  .sidebar-footer a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .sidebar-footer a:hover {
    background-color: #444851;
  }
  
  .sidebar-footer a span {
    margin-left: 10px;
  }
  